:root {
    --red: #c8102e;
    --green: #007a33;
    --white: #ffffff;
    --font-color: #333;
    --bg-card: rgba(255, 255, 255, 0.9);
}

* {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    color: var(--font-color);
    background-color: #f0f0f0;
}
  
header {
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    border-bottom: 5px solid var(--green);
}
  
.hero {
    position: relative;
}
  
picture img {
    width: 100%;
    display: block;
}
  
.info {
    position: absolute;
    background: var(--bg-card);
    padding: 1rem;
    max-width: 599px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
  
.data {
    top: 10%;
    left: 5%;
}
  
.weather {
    bottom: 10%;
    right: 5%;
    position: absolute;
}
  
.weather h2::after {
    content: "⛅";
}
  
.weather-icon-mobile {
    display: none;
    width: 32px;
    height: auto;
    margin: 0.5rem 0;
}
  
footer {
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    border-top: 5px solid var(--green);
}
  
/* MEDIA QUERIES */
@media (max-width: 599px) {
    .weather h2::after {
        content: "";
    }

    .weather {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    .weather-icon-mobile {
        display: block;
    }
  
    .info {
        position: static;
        width: 599px;
        text-align: center;
    }

    .info ul {
        list-style-type: none;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
  